<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>677628577730-3jo7uhqpoiba2fiv5hbgp53ff8g7t8gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677628577730-3jo7uhqpoiba2fiv5hbgp53ff8g7t8gc</string>
	<key>API_KEY</key>
	<string>AIzaSyDNNFsx7a0-SkBhMa8UtL9PxjLE3Vz1Ii8</string>
	<key>GCM_SENDER_ID</key>
	<string>677628577730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.hm.cs.mobileappdev.coursesInEnglish.Team2</string>
	<key>PROJECT_ID</key>
	<string>team2-4c460</string>
	<key>STORAGE_BUCKET</key>
	<string>team2-4c460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677628577730:ios:e4a3a962eea46b53</string>
	<key>DATABASE_URL</key>
	<string>https://team2-4c460.firebaseio.com</string>
</dict>
</plist>